[main.plugins.tweak_view_ng]
enabled = true
filename = "/etc/pwnagotchi/tweak_view_ng.json"
legacy_filename = "/etc/pwnagotchi/tweak_view.json"
auto_import_legacy = true
backup = true
history_limit = 50
strict_version = false
